.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}

.note{
    font-size: 15px;
    color: rgb(29, 8, 46);
}

body{
    background-size: cover;
}

canvas{
    border: 5px groove white;
    border-radius: 20px;
}